omdb:
  endpoint: http://www.omdbapi.com

moviesbattle:
  init:
    movies:
      - tt0446029
      - tt1250777
      - tt0133093      
      - tt0408236
      #- tt1179904
      #- tt0848228
      #- tt0974015
      #- tt0418279
      #- tt0409459
      #- tt1099212
      #- tt1922777
    users:
      -
        login: rapadura
        password: $2a$12$6M5GoVzPqHomuvS5ovQ46.P6mEiuIfSIR4WP.7aSt/qRhZOasDnnO 
      -
        login: jovemnerd
        password: $2a$12$GxlTaS8a5tvrmS3X/wXjQukJqBKWQx8ItBxoqP3eVg0Qm6fy7dy.e 
      -
        login: load
        password: load

logging:
  level:
    org:
      springframework: INFO

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:moviesbattle
    #url: jdbc:h2:file:/home/iago/h2/moviesbattle/moviesbattle
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    